@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}
  body{
    font-family: 'Montserrat', sans-serif !important;
  }
/* nav */
.nav{
 background: #ff0000;
}
.nav_header{
  text-align: center;
  padding: 4px 16px;
  padding: 0.25rem 1rem;
  border-bottom: 8px solid #ff0000;
  border-bottom: 0.5rem solid #ff0000;

}
.logo{
  color:white;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}
/* end of nav */

.about{
 padding: 32px 0;
 padding: 2rem 0;
 background: #fff;
}
.about__center{
 max-width: 90vw;
 margin: 32px auto;
 margin: 2rem auto;
}
.about-img{
 margin: 48px 0;
 margin: 3rem 0;
 position: relative;
}
.about-img__photo{
 display: block;
 width: 100%;
 height: 100%;
 position: relative;
}
.about-img__catalogue{
 display: block;
 width: 100%;
 height: 80%;
 position: relative;
}
.about-info{
 margin: 48px 0;
 margin: 3rem 0;
}
.about-info__title{
 font-size: 48px;
 font-size: 3rem;
 text-transform: capitalize;
 letter-spacing: 8px;
 letter-spacing: 0.5rem;
 color:#121d3e;
}
.about-info__text{
 color: #899495;
 line-height: 1.5;
 font-size: 19.2px;
 font-size: 1.2rem;
 margin: 48px 0;
 margin: 3rem 0;
}
.about-info__single-link{
 display: inline-block;
 text-decoration: none;
 padding: 8px 16px;
 padding: 0.5rem 1rem;
 font-size: 24px;
 font-size: 1.5rem;
 letter-spacing: 3.2px;
 letter-spacing: 0.2rem;
 text-transform: capitalize;
 border: 3px solid #181b24;
 -webkit-transition: all 1s linear;
 transition: all 1s linear;
 margin-right: 16px;
 margin-right: 1rem;
}

.dark-btn{
 background: #fff;
 color: #fff;
}
.dark-btn:hover{
 background: #3a3b3d !important;
 color: #121d3e;
}
.light-btn{
 color: #181b24;
}
.light-btn:hover{
 background: #181b24;
 color: #fff
}
@media screen and (min-width:992px){
.about__center{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
}
.about-info,.about-img{
 -webkit-box-flex: 0;
     -ms-flex: 0 0 calc(50% - 1rem);
         flex: 0 0 calc(50% - 1rem)
}
.about-info{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: end;
     -ms-flex-align: end;
         align-items: flex-end;
}
}
/* end about section */

/* section title */
.section-title{
 text-align: center
}
.section-title__name{
 font-size: 64px;
 font-size: 4rem;
 letter-spacing: 8px;
 letter-spacing: 0.5rem;
 text-transform: uppercase;
 font-weight: 700;
 color:#000000;
}
/* end of section title */


/* games section */

.games{
  background: #f2f2f2;
  padding: 48px 0;
  padding: 3rem 0;
 }
.games__center{
 max-width: 90vw;
 margin: 32px auto;
 margin: 2rem auto;
 padding-left: 50px;
}
.games__single-game{
 margin: 32px auto;
 margin: 2rem auto;
 text-align: center;
 -webkit-transition: all 0.5s ease-in;
 transition: all 0.5s ease-in;
 padding: 32px 0;
 padding: 2rem 0;

}
.games__single-game:hover{
 background: #fff;
 -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
         box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
}
.games__single-game-icon{
 font-size: 48px;
 font-size: 3rem;
}
.games__single-game-title{
 text-transform: uppercase;
 font-weight: 700;
 margin-top: 16px;
 margin-top: 1rem;
 margin-bottom: 16px;
 margin-bottom: 1rem;
 letter-spacing: 3.2px;
 letter-spacing: 0.2rem;
 color: #121d3e;
}
.games__single-game-text{
 width: 80%;
 margin: 0 auto;
 text-align: left;
 line-height: 1.5;
 letter-spacing: 3.2px;
 letter-spacing: 0.2rem;
 color: #899495;
}


@media screen and (min-width:768px){
 .games__center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
 }
.games__single-game{
 -webkit-box-flex:0;
     -ms-flex:0 0 calc(50% - 0.5rem);
         flex:0 0 calc(50% - 0.5rem);
}

}

@media screen and (min-width:992px){
.games__single-game{
 -webkit-box-flex:0;
     -ms-flex:0 0 calc(33.3333% - 0.25rem);
         flex:0 0 calc(33.3333% - 0.25rem);
}

}

/* end of games section */



/* footer */
.site-footer
{
  background-color:black;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:black;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#ffff
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.instagram:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.telegram:hover
{
  background-color:#007bb6
}
.social-icons a.vk:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


input[type=text]:focus {
	background-color: #F7866D;
  border: 3px solid #555;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.MAIN { grid-area: 1 / 1 / 2 / 4; }

.TITLE { grid-area: 1 / 2 / 2 / 3; }

.First { grid-area: 2 / 1 / 3 / 2; }

.Second { grid-area: 2 / 2 / 3 / 3; }

.Third { grid-area: 2 / 3 / 3 / 4; }

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.ml15 {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
  color: white !important;
  font-size: 72pt;
}

.nav-item{
  padding-left: 50px !important;
}

.main-text{
  padding-right: 100px;
}

.recol{
  flex: 0.7 0 0%;
}

.f{
  margin-left: 20px;
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
#cat1 {background-image: url(https://upload.wikimedia.org/wikipedia/ru/thumb/3/3a/The_Elder_Scrolls_V_-_Skyrim.jpg/1200px-The_Elder_Scrolls_V_-_Skyrim.jpg);}
#cat2 {background-image: url(https://upload.wikimedia.org/wikipedia/ru/thumb/c/c8/GTAV_Official_Cover_Art.jpg/274px-GTAV_Official_Cover_Art.jpg);}
#cat3 {background-image: url(https://static.gabestore.ru/product/3qKhn-1wwkST1Gbld-SIH8qOnyzIxUKq.jpg);}
#cat4 {background-image: url(http://pics.mobygames.com/images/covers/large/1025184289-00.jpg);}
#cat5 {background-image: url(https://www.nike.com/za/t/zoomx-vaporfly-next-2-road-racing-shoes-N20nWs/DM9056-100);}
#cat6 {background-image: url(https://metarankings.ru/wp-content/uploads/2021/07/chernobylite-boxart-cover.jpg);}
#cat7 {background-image: url(https://www.digiseller.ru/preview/661860/p1_2763097_dbce1673.jpg);}
#cat8 {background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSss4OtZVu7zt0p_ViIA5NLLErItSQ10_aAIC0EvRdrok8Hqw5GNJqanWgOPWMAAD7mIA&usqp=CAU);}
#cat9 {background-image: url(https://avatars.mds.yandex.net/get-zen_doc/1705212/pub_5e10e1263f548700ad63c2bd_5e10e360ecfb8000ad889bd5/scale_1200);}
#cat10 {background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/4e9fa387-77b4-4f0b-a9aa-95b703e1b046/air-zoom-tempo-next-road-running-shoes-GmFCVV.png);}

#carousel1{background-image: url(https://wallpaperaccess.com/full/1957885.jpg);}
#carousel2{background-image: url(https://wallpaperaccess.com/full/2853622.jpg);}

*{
  font-family: 'Montserrat', sans-serif;

}
body{
  background: linear-gradient( black, white 100%);
}

.navbar-bauka {
padding: 15px;
background-color: black;
}

.navbar-bauka a {
  color: white !important;
}

.noshrink{
    min-width: 1400px;
}
.custom-carousel {
    height: 80vh;
    background-position: top;
    background-size: cover;
}
.custom-img {
    height: 75vh;
    background-position: center;
    background-size: cover;
}
.divider-page {
    margin: 5rem 0;
  }

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
/* How to w3 */
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    font-family: 'Lato', sans-serif;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }

  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
